<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/styleForgotpass.css" />
    <link rel="icon" type="image/x-icon" href="/pic/apple-touch-icon.png"/>
</head>
<body>
    <header>
        <div class="navbar">
            <ul class="logo"><a href="/home"><img src="/pic/logo.png" alt="Project Logo"></a></ul>
            <ul class="link">
                <li><a href="/login">Sign In</a></li>
                <li><a href="/register">Sign Up</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="forgotpass-box">
            <h1 class="text-center mb-5 text-uppercase text-muted">Forgot Password</h1>
            <form action="/forgotpass" method="post" novalidate>
                <div class="form-group mt-2">
                    <input type="email" name="user_email" id="_remail" class="form-control" placeholder="Email" required>
                </div>
                <% if (locals.forgotpass_error) {
                    forgotpass_error.forEach(function(forgotpass_msg, index) { %>
                        <div class="alert alert-danger" role="alert" id="alert-<%= index %>"><%= forgotpass_msg %></div>
                    <% })
                } %>
                <button type="submit" class="mt-2 btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
    <script>
        // ซ่อนข้อความแจ้งเตือนหลังจาก 3 วินาที
        setTimeout(function() {
            document.querySelectorAll('.alert').forEach(function(alert) {
                alert.style.display = 'none';
            });
        }, 3000);
    </script>
</body>
</html>
