<%- include ('head') %>

<body>
    <%- include ('nav') %>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card border-0 shadow-lg rounded-3 bg-white">
                    <div class="card-body p-5">
                        <h2 class="text-center mb-4 fw-bold text-dark animate__animated animate__fadeIn">ลืมรหัสผ่าน</h2>
                        
                        <% if (locals.forgotpass_error) { %>
                            <div class="alert alert-light border rounded-3 animate__animated animate__fadeIn" id="alert">
                                <ul class="mb-0 text-dark">
                                    <% forgotpass_error.forEach(function(forgotpass_msg, index) { %>
                                        <li><%= forgotpass_msg %></li>
                                    <% }) %>
                                </ul>
                            </div>
                        <% } %>

                        <form action="/forgotpass" method="post" novalidate class="needs-validation animate__animated animate__fadeIn">
                            <div class="mb-4">
                                <div class="input-group">
                                    <span class="input-group-text bg-light text-dark rounded-start"><i class="bi bi-envelope"></i></span>
                                    <input type="email" name="user_email" id="_remail" class="form-control form-control-lg rounded-end" placeholder="อีเมล" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark btn-md w-100 mb-4 shadow-sm hover-effect rounded-pill">ส่งลิงก์รีเซ็ตรหัสผ่าน</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // ซ่อนข้อความแจ้งเตือนหลังจาก 3 วินาที
        setTimeout(function() {
            document.querySelectorAll('.alert').forEach(function(alert) {
                alert.style.display = 'none';
            });
        }, 3000);
    </script>
</body>
</html>
