<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styleHome.css" />
    <!-- <link rel="icon" type="image/png" sizes="favicon-32x32" href="/picture/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/pic/favicon-16x16.png"> -->
    <link rel="icon" type="image/x-icon" href="/pic/apple-touch-icon.png"/>
    <title>Home Page</title>
</head>

<body>
    <header>
        <div class="navbar">
            <ul class="logo"><a href="/home"><img src="/pic/logo.png" alt="Project Logo"></a></ul>
            <ul class="link">
                <li><a href="/login">Sign In</a></li>
                <li><a href="/register">Sign Up</a></li>
            </ul>
        </div>
    </header>

    <h1>Welcome to the Home Page</h1>

</body>

</html>