<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Home Page</title>
</head>
<header>
    <button><a href="/login" class="btn btn-link">Sign In</a></button>
    <button><a href="/register" class="btn btn-link">Sign Up</a></button>
</header>
<body>
    <h1>Welcome to the Home Page</h1>
</body>
</html>
