<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleLogin.css" />
    <link rel="icon" type="image/x-icon" href="/pic/apple-touch-icon.png"/>
    <title>Login</title>
</head>

<body>
        <header>
            <div class="navbar">
                <ul class="logo"><a href="/home"><img src="/pic/logo.png" alt="Project Logo"></a></ul>
                <ul class="link">
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/register">Sign Up</a></li>
                </ul>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="login-box">
            <h1 class="text-center mb-5 text-uppercase text-muted">Login</h1>
            <!-- แสดงข้อความ error ถ้ามี -->
            <% if (typeof login_errors !=='undefined' && login_errors.length> 0) { %>
                <div class="alert alert-danger" id="alert">
                    <ul>
                        <% login_errors.forEach(error=> { %>
                            <li>
                                <%= error %>
                            </li>
                            <% }) %>
                    </ul>
                </div>
                <% } %>
                    <form action="/login" method="post" novalidate>
                        <div class="form-group mt-2">
                            <input type="text" name="user_email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group mt-2">
                            <input type="password" name="user_pass" id="_pass" class="form-control"
                                placeholder="Password" required>
                        </div>

                        <button type="submit" class="mt-2 btn btn-primary w-100">Login</button>
                    </form>
                    <div>
                        <a href="/forgotpass" class="btn btn-link">Forgot password ?</a>
                    </div>
        </div>
    </div>

    <script>
        // ซ่อนข้อความแจ้งเตือนหลังจาก 3 วินาที
        setTimeout(function () {
            var alert = document.getElementById('alert');
            if (alert) {
                alert.style.display = 'none';
            }
        }, 3000);
    </script>
</body>

</html>